<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362622270741-f2cqi76cji6rv7c1l7fcf4a2a4pdoa1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362622270741-f2cqi76cji6rv7c1l7fcf4a2a4pdoa1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAff_cgMqlPgBYhCj3w75bz7UDIpHPtA6g</string>
	<key>GCM_SENDER_ID</key>
	<string>362622270741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaroncleveland.OnboardingTest</string>
	<key>PROJECT_ID</key>
	<string>onboardingtest-f2a08</string>
	<key>STORAGE_BUCKET</key>
	<string>onboardingtest-f2a08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362622270741:ios:5cc8d81ae860c86b43fd1c</string>
</dict>
</plist>